[GLUCOSE]
path: 				${root}/deep-solvers/deep-glucose-3.0
template_path: 		${path}/model/Percent_2Layer

[DEEP_TEST]
path: ${root}/pysat-master/tests/deep_test
run_baseline: false
dump_path: ~/Desktop/exp-results

[SLURM]
partition: cpunodes
mail-type:
mail-user:
# Examples:
# mail-type: ALL,TIME_LIMIT_90
# mail-user:
